.figure {
    overflow: hidden;
     background-size: cover;
     background-position: center;
     @include border-radius(2%);
     img {
         display: block;
         position: absolute;
         top: 50%;
         left: 50%;
         min-height: 100%;
         min-width: 100%;
         transform: translate(-50%, -50%);
         @include border-radius(2%);
     }
}