{% load base_extras wagtailimages_tags wagtailcore_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load static %}

{% for featured_page in featured_pages %}
  {% with children=featured_page|get_item:'children' style=featured_page|get_item:'style' obj=featured_page|get_item:'obj' feature=featured_page|get_item:'page' %}
    {% if children %}
    {% if feature.specific.image is not None %}
      {% image feature.specific.image fill-960x640-c100 as single_image %}
    {% elif feature.specific.main_image is not None %}
      {% image feature.specific.main_image fill-960x640-c100 as single_image %}
    {% else %}
      {% static 'img/integra.jpeg' as single_image %}
    {% endif %}
      <div class="col-12 featured-page featured-page__multiple{% if style %} {{ style.class_name }} {{ style.class_name }}__multiple{% endif %}">
        <div class="row">
          <a class="featured-page__multiple__header{% if style %} {{ style.class_name }}__multiple__header{% endif %}" href="{{ feature.url }}">
              <h3 class="featured-page__multiple__header__title{% if style %} {{ style.class_name }}__multiple__header__title{% endif %}">
                {% if obj.title %}
                  {{ obj.title }}
                {% else %}
                  {{ feature.title }}
                {% endif %}
              </h3>
              <p class="featured-page__multiple__header__message{% if style %} {{ style.class_name }}__multiple__header__message{% endif %}">
                {% if obj.message %}
                  {{ obj.message }}
                {% endif %}
              </p>
          </a>
          {% for childpage in children %}
            {% if childpage.specific.image is not None %}
              {% image childpage.specific.image fill-1200x900-c100 as child_image %}
            {% elif childpage.specific.main_image is not None %}
              {% image childpage.specific.main_image fill-1200x900-c100 as child_image %}
            {% else %}
              {% static 'img/integra.jpeg' as child_image %}
            {% endif %}
            <a class="featured-page__multiple__child{% if style %} {{ style.class_name }}__multiple__child{% endif %}" href="{{ childpage.url }}">
              <img class="featured-page__multiple__child__image{% if style %} {{ style.class_name }}__multiple__child__image{% endif %}" src="{% if child_image.url %}{{ child_image.url }}{% else %}{{ child_image }}{% endif %}" alt="{{ child_image.description }}">
              <div class="featured-page__multiple__child__description{% if style %} {{ style.class_name }}__multiple__child__description{% endif %}">
                <div class="featured-page__multiple__child__mask{% if style %} {{ style.class_name }}__multiple__child__mask{% endif %}"></div>
                <h4 class="featured-page__multiple__child__title{% if style %} {{ style.class_name }}__multiple__child__title{% endif %}">
                  {{ childpage.title }}
                </h4>
                <p class="featured-page__multiple__child__intro{% if style %} {{ style.class_name }}__multiple__child__intro{% endif %}">
                  {% if childpage.specific.introduction %}
                    {{ childpage.specific.introduction|truncatechars:"100" }}
                  {% elif childpage.specific.subtitle %}
                    {{ childpage.specific.subtitle|truncatechars:"100" }}
                  {% endif %}
                </p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
    {% else %}
      {% if feature.specific.image %}
        {% image feature.specific.image fill-960x640-c100 as single_image %}
      {% elif feature.specific.main_image %}
        {% image feature.specific.main_image fill-960x640-c100 as single_image %}
      {% else %}
        {% static 'img/integra.jpeg' as single_image %}
      {% endif %}
          <a class="col-12 featured-page featured-page__single{% if style %} {{ style.class_name }} {{ style.class_name }}__single{% endif %}" href="{{ feature.specific.url }}">
            <div class="featured-page__single__wrapper{% if style %} {{ style.class_name }}__single__wrapper{% endif %}">
              <img class="featured-page__single__image{% if style %} {{ style.class_name }}__single__image{% endif %}" src="{% if single_image.url %}{{ single_image.url }}{% else %}{{ single_image }}{% endif %}" alt="{{ single_image.description }}">
              <div class="featured-page__single__description{% if style %} {{ style.class_name }}__single__description{% endif %}">
                <div class="featured-page__single__mask{% if style %} {{ style.class_name }}__single__mask{% endif %}"></div>
                <h3 class="featured-page__single__title{% if style %} {{ style.class_name }}__single__title{% endif %}">
                    {% if obj.title %}
                    {{ obj.title }}
                  {% else %}
                    {{ feature.title }}
                  {% endif %}
                </h3>
                <p class="featured-page__single__message{% if style %} {{ style.class_name }}__single__message{% endif %}">
                  {% if obj.message %}
                    {{ obj.message }}
                  {% endif %}
                </p>
              </div>
            </div>
          </a>
        {% endif %}
  {% endwith %}
{% endfor %}
