{% load i18n %}
{% load navigation_tags wagtailcore_tags %}

<div class="dropdown-menu" role="menu" aria-labelledby="{{ parent.title|lower }}-dropdown">
  {% if parent.title|lower == 'blog' %}
  <div class="dropdown-item disabled" href="#">{% trans "Highlighted posts" %}</div>
  <div class="dropdown-divider"></div>
  {% endif %}
  {% for child in menuitems_children %}
    <a class="dropdown-item" href="{% pageurl child %}" role="menuitem">{{ child.title }}</a>
  {% endfor %}
</div>
