{% load i18n %}
{% load navigation_tags wagtailcore_tags %}
{% get_site_root as site_root %}


{% for menuitem in menuitems %}
    {% if menuitem.show_dropdown %}
    <li class="nav-item dropdown btn-group">
        <a class="nav-link {{ menuitem.title|lower|cut:' ' }}{% if menuitem.active %} active{% endif %}" href="{% pageurl menuitem %}">{{ menuitem.title }}</a>
        <a id="{{ menuitem.title|lower }}-dropdown" class="nav-link dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">{% trans "Toggle Dropdown" %}</span>
        </a>
        {% top_menu_children parent=menuitem %}

        <!-- </div>
        <a class="dropdown-item" href="#">Something else here</a>
        <div class="dropdown-divider"></div>
        <a class="nav-link dropdown-toggle {% if menuitem.active %} active{% endif %}" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            
        </a> -->
    </li>
    {% else %}
        <a class="nav-link {{ menuitem.title|lower|cut:' ' }}{% if menuitem.active %} active{% endif %}" href="{% pageurl menuitem %}">
            {% comment %} <div class="nav__div"> {% endcomment %}
            {{ menuitem.title }}
            {% comment %} </div>     {% endcomment %}
        </a> 
    {% endif %}
{% endfor %}
