/**
    Default scss file
    Follow this pattern when creating your own scss/sass/css files
    for the Home Page featured pages.

    This example file simply extends the bootstrap card:
    - For pages with children (i.e. Blog, Gallery), it creates a centered
      header and creates a card for each child page, with a hover effect.
    - For pages without children (i.e. About, Contact), it creates a
      card with a hover effect.

    Note that if using a .css file, media query sizes need to be
    specified as the @import '../variables' will not be available.

    This format tries to make as much use of bootstrap utilities as possible
    by extending them (see below), and you're encouraged to do the same.

    scss/sass files allow for a nested structure with @at-root.
    To translate this to a plain css file, make classes for each element
    following the BEM structure below:
    - .featured-page                                :: <a>, as specified in the style snippet.
                                                       We'll use .featured-page for the
                                                       rest of the examples.
    - .featured-page__single                        :: <div>, contains the page with no
                                                       child pages (About, contact)
    - .featured-page__single__wrapper               :: <div>, wraps image, text and mask
    - .featured-page__single__image                 :: <img>, main image for page
    - .featured-page__single__mask                  :: <div>, mask for image/description
    - .featured-page__single__title                 :: <h3>, page title
    - .featured-page__single__message               :: <p>, introductory message

    - .featured-page__multiple                      :: <div>, wraps parent link and children
    - .featured-page__multiple__header              :: <a>, wraps parent link title and message
    - .featured-page__multiple__header__title       :: <h3>, main page title
    - .featured-page__multiple__header__message     :: <p>, main page message
    - .featured-page__multiple__child               :: <a>, wraps single child's elements
    - .featured-page__multiple__child__image        :: <img>, image for child
    - .featured-page__multiple__child__description  :: <div>, wraps text and mask
    - .featured-page__multiple__child__mask         :: <div>, mask for image/description
    - .featured-page__multiple__child__title        :: <h4>, title of child page
    - .featured-page__multiple__child__intro        :: <p>, introduction of child page

*/
@import '../variables';
@import '../../vendor/bootstrap-4.1.3/scss/bootstrap';

.featured-page {
    @include border-radius(2%);
    @at-root #{&}__single {
        &:hover .featured-page__single__image {
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }
        &:hover .featured-page__single__title {
            -ms-transform: scale(1);
            transform: scale(1);
            color: $colors-s-light;
        }
        &:hover .featured-page__single__message {
            -ms-transform: scale(1);
            transform: scale(1);
            color: $colors-s-light;
        }
        @at-root #{&}__wrapper {
            @extend .card;
            @extend .bg-white;
            @extend .row;
            overflow: hidden;
            color: $colors-s-dark;
            border: none;
        }
        @at-root #{&}__image {
            @extend .card-img;
            @extend .col-md-8;
            @extend .offset-md-4;
            transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        }
        @at-root #{&}__mask {
            @extend .d-md-none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(120deg, hsla(0, 0%, 0%, .9) 0, hsla(0, 0%, 0%, .7) 70%, hsla(0, 0%, 0%, .5) 100%);
        }
        @at-root #{&}__description {
            @extend .card-img-overlay;
            @extend .text-center;
            @extend .align-middle !optional;
            @extend .col-md-4;
            padding-top: 7em;
        }
        @at-root #{&}__title {
            @extend .card-title;
            transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }
        @at-root #{&}__message {
            @extend .card-text;
            transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
        }
    }
    @at-root #{&}__multiple {
        @include border-radius(0%);
        @at-root #{&}__header {
            @extend .col-12;
            &:hover {
                text-decoration: none;
            }
            &:hover .featured-page__multiple__header__message:after {
                width: 100%;
                background: $colors-s-dark;
            }
            @extend .text-center;
            @at-root #{&}__title {
                color: $colors-s-dark;
            }
            @at-root #{&}__message {
                color: $colors-s-dark;
                &:after {
                    content: '';
                    display: block;
                    margin: auto;
                    height: 4px;
                    width: 0px;
                    background: transparent;
                    transition: width 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
        @at-root #{&}__child {
            @include border-radius(0);
            height: 8em;
            @extend .col-12 !optional;
            @extend .col-md-6 !optional;
            @extend .col-lg-4;
            min-width: 1px;
            &:hover .featured-page__multiple__child__image {
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
            &:hover .featured-page__multiple__child__title {
                -ms-transform: scale(1);
                transform: scale(1);
                color: $colors-s-light;
            }
            &:hover .featured-page__multiple__child__intro {
                -ms-transform: scale(1);
                transform: scale(1);
                color: $colors-s-light;
            }
            @extend .card;
            @extend .bg-dark;
            overflow: hidden;
            color: $colors-s-dark;
            @at-root #{&}__image {
                @extend .card-img;
                transform: scale(1.1);
                transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1);
            }
            @at-root #{&}__mask {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(120deg, hsla(0, 0%, 0%, .9) 0, hsla(0, 0%, 0%, .7) 70%, hsla(0, 0%, 0%, .5) 100%);
            }
            @at-root #{&}__description {
                @extend .card-img-overlay;
                @extend .text-center;
                @extend .align-middle;
                padding-top: 3em;
            }
            @at-root #{&}__title {
                @extend .card-title;
                transition:0.5s cubic-bezier(0.19, 1, 0.22, 1);
                -ms-transform: scale(0.8);
                transform: scale(0.8);
            }
            @at-root #{&}__intro {
                @extend .card-text;
                transition:0.5s cubic-bezier(0.19, 1, 0.22, 1);
                -ms-transform: scale(0.8);
                transform: scale(0.8);
            }
        }
    }
}

@media screen and (min-width: $tablet-portrait) {
    .featured-page {
        @at-root #{&}__single {
            &:hover .featured-page__single__title {
                color: $colors-s-dark;
            }
            &:hover .featured-page__single__message {
                color: $colors-s-dark;
            }
            &:hover .featured-page__single__image {
                -ms-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}
