{% load wagtailcore_tags wagtailimages_tags %}
{% load sass_tags %}
{% load sekizai_tags %}

{% if page.image or page.main_image %}
  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/header-hero.scss' %}">
  {% endaddtoblock %}
  {% if page.image %}
    {% image page.image fill-1920x1200 as image %}
  {% elif page.main_image %}
    {% image page.main_image fill-1920x1200 as image %}
  {% endif %}
  <div class="row align-items-center header-hero" style="background-image:url('{{ image.url }}')">
    <div class="header-hero__gradient-mask"></div>
    <div class="header-hero__text">
      <h1>{{ page.title }}</h1>

    </div>
  </div>
{% elif page.hero_image %}
  {% comment %} {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/home-hero.scss' %}">
  {% endaddtoblock %} {% endcomment %}
    {% image page.hero_image fill-1920x600 as image %}
    <div class="home-hero" style="background-image:url('{{ image.url }}')">
      <div class="home-hero__gradient-mask"></div>
      <div class="home-hero__text">
          <h1 class="home-hero__h1">{{ page.title }}</h1>
          <p class="home-hero__lead">{{ page.hero_text }}</p>
          {% if page.hero_cta_link %}
          <a href="{% pageurl page.hero_cta_link %}" class="hero-cta-link hvr-icon-forward">
              {{ page.hero_cta }}
          </a>
          {% else %}
          {{ page.hero_cta }}
          {% endif %}
      </div>
  </div>
{% endif %}
