{% load wagtailcore_tags wagtailimages_tags %}
{% load sass_tags %}
{% load sekizai_tags %}
{% comment %} {% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/header-index.scss' %}">
{% endaddtoblock %} {% endcomment %}

<div class="header-index">
    <div class="header-index__text">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
            <p>{{ page.introduction|richtext }}</p>
        </div>
    </div>
</div>
