{% extends "base.html" %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load recaptcha2 %}
{% load base_extras %}

{% block content %}
  {% comment %} {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/form-page.scss' %}">
  {% endaddtoblock %} {% endcomment %}
    <div class="class container mx-center page-body">
      {% if page.intro %}
        <p class="intro">{{ page.intro|richtext }}</p>
      {% endif %}
      {% if page.body %}
        {{ page.body }}
      {% endif %}
      {% block formblock %}
      {% include 'includes/form_snippet.html' %}
      {% endblock formblock %}
    </div>
{% endblock content %}
