{% extends "base.html" %}
{% load static %}
{% load wagtailimages_tags wagtailcore_tags navigation_tags base_extras %}
{% load sass_tags %}
{% load sekizai_tags %}


{% block content %}
<div class="container mx-center main-content">
  {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/home-page.scss' %}">
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/message-divider.scss' %}">
  {% endaddtoblock %}
  
  
  {% if page.promo_title %}
  <section class="row promo">
    <figure>{% image page.promo_image fill-200x200-c100 %}</figure>
    <div class="promo-text">
      <h3>{{ page.promo_title }}</h3>
      {{ page.promo_text|safe }}
    </div>
  </section>
  {% endif %}
  
  {% if page.body %}
  <section class="row justify-content-center page-body">
    <div class="col-sm-12">
      {{ page.body }}
    </div>
  </section>
  {% endif %}


  {% for featured_page in page.featured_pages %}
    {% addtoblock 'css' %}
      {% if featured_page.style %}
        <link type="text/css" rel="stylesheet" href="{{ featured_page.style.style_file.url }}">
      {% else %}
        <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/default-snippets/default.scss' %}">
      {% endif %}
    {% endaddtoblock %}
  {% endfor %}

  <section class="featured-pages">
    {% get_featured_pages calling_page=page num_children=6 %}
  </section>
  
</div>
{% endblock content %}