{% extends 'base.html' %}
{% load i18n %}
{% load wagtailimages_tags wagtailcore_tags navigation_tags %}
{% load sekizai_tags %}
{% load sass_tags %}

{% comment %} {% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/card.scss' %}">
{% endaddtoblock %} {% endcomment %}

<h1>{{ page.title }}</h1>
<p class="meta">{{ page.date }}</p>

{% block content %}
{% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/people-page.scss' %}">
{% endaddtoblock %}
<div class="class container mx-center">
  {% if page.introduction %}
  <p class="intro">{{ page.introduction|richtext }}</p>
  {% endif %}
  {% with people=page.people.all %}
    {% if people %}
      <div class="card-deck">
        {% for person in people %}
        <div class="card">
          
          {% image person.picture fill-180x180-c50 as picture %}
          <img class="card-img-top img img-fluid align-self-center" src="{{ picture.url }}" alt="{{ picture.alt }}">
          <div class="card-body">
            <h5 class="card-title text-center">{{ person.full_name }}</h5>
            <p class="card-text text-justify">{{ person.bio }}</p>
          </div>
          {% include 'includes/social_links.html' %}
        </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  {% endblock content %}
  