@import './variables';
@import '../vendor/bootstrap-4.1.3/scss/bootstrap';

// @import './blocks/image-block';

a {
    color: $gray-text;
    text-decoration: none;
}
a:hover {
    color: $colors-s-dark;
}
// a:visited {
    //   color: $gray-text;
    // }
    
.body {
    font-size: 16px;
    // width: 100%;
    // color: $gray-text;
    // max-width: 100vw;
    // margin: 0;
    // padding: 0;
    font-family: 'Hind', 'Open Sans', serif;
    // box-sizing: border-box;
    // min-height: 100vh;
    // background: $body-background;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', 'Open Sans', 'Roboto' !important;  
    font-weight: 700;
}

.footer {
    background-color: #fdfdfe;
}

.full-width,
.left,
.right {
    @extend .img-fluid;
}
.left {
    @extend .float-md-left;
}
.right {
    @extend .float-md-right;
}

.fa-stack,
.fa, .fab {
    transition: color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

// .embed-wrapper {
//     width: 100%;
// }

@media screen and  (min-width: $tablet-portrait) {
    .body {
        font-size: 22px;
    }
    // .left {
    //     float: left;
    //     margin-right: 1rem;
    //     max-width: 60%;
    // }
    // .right {
    //     float: right;
    //     margin-left: 1rem;
    //     max-width: 60%;
    // }
}