@import './variables';


.main-content {

}

.page-body {
}

.aside {
    order: -1;
}

.tags {
}

.blog-image {
}


.pagination {
    margin-bottom: 0.2em;
    @at-root #{&}-lg {
        .page-item:first-child {
            border-top-left-radius: 0.3rem;
	        border-bottom-left-radius: 0.3rem;
        }
        .page-item:last-child {
            border-top-right-radius: 0.3rem;
	        border-bottom-right-radius: 0.3rem;
        }
    }
    .page-item {
        .page-link {
            border: none;
            box-sizing: border-box;
            color: $colors-s-dark;
        }
        &:hover {
            border-bottom: 4px solid $colors-s-dark;
        }
        li {
        }
    }
}
.page-link.active {
    @include disabledElement();
}

.small {
}

.blog-post {
    &:after { // clearfix in case grid fails
    }
    @at-root #{&}__image {
        overflow: hidden;
        background-size: cover;
        background-position: center;
        @include border-radius(2%);
        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            min-height: 100%;
            min-width: 100%;
            transform: translate(-50%, -50%);
            @include border-radius(2%);
        }
    }
    @at-root #{&}__text{
        h4 {
            font-size: 1.2rem;
        }
        p {
            font-size: 14px;
        }
    }
    @at-root #{&}__footer{
    }
}

@media screen and (min-width: $tablet-portrait) {
    .aside {
        order: unset;
    }
    .blog-post {
        &:after { // clearfix in case grid fails
        }
        // @at-root #{&}__image {
        //     overflow: hidden;
        //     background-size: cover;
        //     background-position: center;
        //     @include border-radius(2%);
        //     img {
        //         display: block;
        //         position: absolute;
        //         top: 50%;
        //         left: 50%;
        //         min-height: 100%;
        //         min-width: 100%;
        //         transform: translate(-50%, -50%);
        //         @include border-radius(2%);
        //     }
        // }
        @at-root #{&}__text{
            h4 {
                font-size: 1.6rem;
            }
            p {
                font-size: 1rem;
            }
        }
        @at-root #{&}__footer{
        }
    }
}