@import './variables';
.main {
}

.page-body {
}

.aside {
    order: -1;
}

.msg-container {
}

.meta__author {
    @at-root #{&}__avatar {
        @include border-radius(50%);
    }
    @at-root #{&}__name {
        display: inline;
    }
    img {
    }
}

@media screen and (min-width: $tablet-portrait) {
    .aside {
        order: unset;
    }
}