@import './variables.scss';

$form-font-size: 1.5rem;
$form-input-height: 2em;

.btn-primary {
    background-color: $colors-s-dark;
    border-color: $colors-s-dark;
}
.btn-primary:hover {
    background-color: $colors-s-normal;
    border-color: $colors-s-normal;
}
.btn-primary:not(:disabled):not(:disabled):active {
    background-color: $colors-s-normal;
    border-color: $colors-s-normal;
    box-shadow: 0 0 0 0.2rem #ffbb93;
}
.btn-primary:focus {
    background-color: $colors-s-normal;
    border-color: $colors-s-normal;
    box-shadow: 0 0 0 0.2rem #ffbb93;
}

input:focus {
    color: $colors-s-dark;
}

.field-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

input,
textarea {
    grid-row: 1/3;
    grid-column: 1/2;
    padding-bottom: 0;
    align-self: center;
    background-color: transparent;
    color: $colors-text-gray;
    font-size: $form-font-size;
    height: $form-input-height;
    border: none;
    border-bottom-color: $colors-p-light;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    z-index: 1;
    // font-family: monospace;
}
textarea {
    height: $form-input-height * 2;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom-color: $colors-s-dark;
    border-bottom-width: 2px;
}

.field-wrapper[for="email"]:before,
.field-wrapper[for="phone"]:before  {
    grid-row: 1/3;
    grid-column: 1/2;
    font-size: $form-font-size;
    content: attr(data-placeholder);
    color: transparent;
    align-self: center;
    z-index: 0;
    font-family: monospace;
    // visibility: hidden;
}

.field-wrapper[for='captcha'] {
    // align-items: flex-end;
    // justify-items: center;
    margin-top: 1em;
}

.pseudo--invisible {
    visibility: hidden;
}

.pseudo--visible {
    visibility: visible;
}



// input[type='text'],
// input[type='email'],
// input[type='tel'] {
//     color: $colors-text-gray;
//     box-sizing: border-box;
//     border: none;
//     border-bottom-color: $colors-p-light;
//     border-bottom-width: 1px;
//     border-bottom-style: solid;
//     width: 100%;
//     height: 2em;
//     font-size: $form-font-size;
//     line-height: 20px;
// }

// input[type='text']:focus,
// input[type='email']:focus,
// input[type='tel']:focus,
// textarea:focus {
//     outline: none;
//     // color: $colors-s-dark;
//     // text-shadow: 0px 0px 0px $colors-s-dark !important;
//     // -webkit-text-fill-color: transparent !important;
//     border-bottom-color: $colors-s-dark;
//     border-bottom-width: 1px;
// }


.sr-only {
    display: hidden;
}

