/** Defines header
* - Header container (block)
* - Main navigation
*/
@import './variables';
@import './header-hero';
@import './home-hero.scss';
@import './alerts';
@import './nav';

.navbar,
.navbar-brand {
    margin: 0;
    padding: 0;
}
.navbar-brand {
    width: 160px;
}
.header__image {
    width: 100%;
    height: auto;
}
a.active {
    border-bottom: 2px solid $colors-s-dark;
}
.nav-link {
    box-sizing: border-box;
    padding-bottom: 2px;
    // height: 3em;
}
.nav-link:hover {
    color: $colors-s-dark;
    border-bottom: 2px solid $colors-s-dark;
    padding-bottom: 0;
}
@media screen and (min-width: $tablet-portrait) {
    .navbar-brand {
        width: 240px;
    }
    a.active {
        border-bottom: 4px solid $colors-s-dark;
    }
    .nav-link {
        box-sizing: border-box;
        padding-bottom: 4px;
        // height: unset;
    }
    .nav-link:hover {
        color: $colors-s-dark;
        border-bottom: 4px solid $colors-s-dark;
        padding-bottom: 0;
    }
}

// .header {
//     display: block;
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     min-height: $header-min-height;
//     max-height: $header-max-height;
//     grid-area: header;
//     display: grid;
//     @include grid-template-rows(3rem minmax(15vh, min-content) minmax(0, min-content));
//     @include grid-template-columns(240px minmax(20px, 1fr) 2fr);
//     justify-content: space-between;
//     background-color: white;
//     @at-root #{&}__logo {
//         float: left;
//         height: $header-min-height;
//         @include grid-row(1, 2);
//         @include grid-column(1, 2);
//         align-content: center;
//         text-indent: -9999px;
//         background-size: contain;
//         background-repeat: no-repeat;
//     }
//     @at-root #{&}__nav-toggler {
//         float: right;
//         margin: 0;
//         margin-right: 1rem;
//         padding-top: 1rem;
//         padding-bottom: 1rem;
//         @include grid-row(1, 2);
//         @include grid-column(3, 4);
//         align-self: center;
//         justify-self: end;
//         i {
//             padding: 0.2em;
//             @include border-radius(3%);
//             &:hover {
//                 color: $colors-s-dark;
//             }
//             &:active {
//                 background-color: $colors-s-light;
//             }
//         }
//     }
// }


// @media screen and (min-width: $phone-landscape) {
//     .header {
//         @at-root #{&}__nav-toggler {
//             i {
//                 &:hover {
//                 }
//                 &:active {
//                 }
//             }
//         }
//     }
// }

@media screen and (min-width: $tablet-portrait) {
    .header {
        min-height: $header-min-height + 1rem;
        @include grid-template-rows(4rem minmax(15vh, min-content) minmax(0, min-content));
        @at-root #{&}__logo {
            height: $header-min-height + 1rem;
        }
        @at-root #{&}__nav-toggler {
            display: none;
            i {
                font-size: 2em;
            }
        }
    }
}


@media screen and (min-width: $tablet-portrait) {
    .header {
        @at-root #{&}__nav-toggler {
            i {
                &:hover {
                }
                &:active {
                }
            }
        }
    }
}
