@import './variables';
$hero-min-height: 15vh;
$hero-min-height: 15vh;
$hero-height: 15vh;
.header-hero {
    box-sizing: border-box;
    width: 100%;
    min-height: 5rem;
    max-height: $hero-height;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: $light-orange;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header-hero__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2em;
    h1, h4, a {
        color: $colors-s-dark;
        z-index: 1;
    }
    a{
        color: $colors-s-dark;
        text-decoration: underline;
    }
}

.header-hero__gradient-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-area: hero;
    z-index: 0;
    background: linear-gradient(to left,  hsla(0,0,0.29,0) 0%,hsla(0,0,0.29,1) 75%,hsla(0,0,0.29,1) 100%);
}

// .header-hero__h1 {
    //     color: #dddddd;
    // }
    
    // .header-hero__lead {
        //     color: #dddddd;
        //     font-size: 1.6em;
        //     margin: 40px;
        // }
        
        // .header-hero h1:after {
            //     background-color: rgba(255,255,255, 0.7);
            //     content: "";
            //     display: block;
            //     height: 5px;
            //     margin: 20px auto;
            //     width: 250px;
            //   }