@import './variables';

$hero-min-height: 70vh;
$hero-height: 60vh;
.home-hero {
    box-sizing: border-box;
    width: 100%;
    min-height: $hero-min-height;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: $light-orange;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column-reverse;
}

.home-hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2em;
    h1, p, a {
        color: $colors-s-dark;
        z-index: 1;
        text-align: center;
    }
    // h1 {
    //     font-size: 1.5rem;
    // }
    // a,p {
    //     font-size: 1.0rem;
    // }
    a{
        color: $colors-s-dark;
        text-decoration: underline;
    }
}

.home-hero__gradient-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,1) 100%);
    z-index: 0;
}

// @media screen and (min-width: $phone-landscape) {
//     .home-hero {
//         height: 70vh;
//     }
// }

@media screen and (min-width: $tablet-portrait) {
    .home-hero {
        height: 90vh;
    }
}