@import './variables';
.main-content {
}

.page-body {
    margin-top: 4rem;
}

.featured {
}

.full-width,
.left,
.right {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

@media (min-width: $tablet-portrait) {
    .left {
        float: left;
        margin-right: 1rem;
        max-width: 60%;
    }
    .right {
        float: right;
        margin-left: 1rem;
        max-width: 60%;
    }
}