@import './variables';
.img {
    @include border-radius(50%);
    height: 140px;
    width: 140px;
}

.card {
    border: none;
    // max-width: 280px;
}

.card-text {
    font-size: 1.2em;
}

.card-header,
.card-footer {
    background-color: transparent;
}

@media screen and (min-width: $phone-landscape) {
    .img {
        height: 180px;
        width: 180px;
    }
    .card-text {
        font-size: 0.8em;
    }
}