{% load base_extras %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load sass_tags %}
{% load sekizai_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% comment %} {% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/icons/chevron.scss' %}">
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/aside.scss' %}">
{% endaddtoblock %} {% endcomment %}

{% addtoblock "js" %}
{% endaddtoblock %}

  <div class="row justify-content-center search">
    {% include 'search/search_box.html' %}
  </div>

{% if dates %}
  <div class="row d-none d-sm-none d-md-block ">
    <div class="col-12 mt-3 dates">
      <h4>{% trans "Filter by date" %}:</h4>
      {% for dict in dates %}
        {% with year=dict|get_item:'year' months=dict|get_item:'months' %}
          <div id="group-{{ year }}" class="accordion">
            <div class="card">
              <div class="card-header" id="header-{{ year }}">
                <h5 class="mb-0">
                  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#months-{{ year }}" aria-expanded="true" aria-controls="months-{{ year }}">
                    {{ year }}
                  </button>
                </h5>
              </div>
            </div>
            <div id="months-{{ year }}" class="collapse month-group" aria-labelledby="header-{{ year }}" data-parent="#group-{{ year }}">
              <div class="card-body">
                {% for month in months %}
                  <a href="/{{ LANGUAGE_CODE }}/blog/date/{{ year }}/{{ month }}/">
                    <div class="month">{{ month|humanize_month }}</div>
                  </a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endwith %}
      {% endfor %}
    </div>
  </div>
{% endif %}