{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load recaptcha2 %}

{% comment %} {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/form.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/contact-form-page.scss' %}">
{% endaddtoblock %} {% endcomment %}

{% recaptcha_init %}
<form action="{% pageurl page %}" method="POST" role="form">
    {% csrf_token %}
    {% if form.subject.errors %}
        <ol role="alertdialog">
        {% for error in form.subject.errors %}
            <li role="alert"><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        </ol>
    {% endif %}

    {% for field in form %}
        <div class="field-wrapper" aria-required="{% if field.field.required %}true{% else %}false {% endif %}">
            {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}
            {{ field }}
            {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
            {% endif %}
        </div>
    {% endfor %}

    <input type="submit">
</form>