{% load navigation_tags static %}

<div class="container" role="contentinfo">
  <div class="row">
    <div class="col-12 col-md-8">
      {% get_footer_text %}
    </div>
    <div class="col-12 col-md-4">
      <ul class="d-flex flex-sm-row flex-md-column justify-content-center list-inline text-center">
        <li class="mb-1">
          <a href="https://integralpsychology.life" target="_blank" rel="noopener">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-link fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </li>
        <li class="mb-1">
            <a href="https://www.instagram.com/vidaintegra.dr/" target="_blank" rel="noopener">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
