{% load i18n %}
{% load static %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load recaptcha2 %}
{% load base_extras %}
{% get_current_language as LANGUAGE_CODE %}

{% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/form.scss' %}">
{% endaddtoblock %}

{% addtoblock "js" %}
{% endaddtoblock %}

{% recaptcha_init LANGUAGE_CODE %}
<div class="row justify-content-center">
  <form action="{% pageurl page %}" method="POST" role="form" class="form col-12 col-sm-10 col-md-6">
    {% csrf_token %}
    {% if form.subject.errors %}
    <ol role="alertdialog">
      {% for error in form.subject.errors %}
      <li role="alert"><strong>{{ error|escape }}</strong></li>
      {% endfor %}
    </ol>
    {% endif %}
    
    {% for field in form %}
    <div 
    class="form-group field-wrapper" 
    aria-required="{% if field.field.required %}true{% else %}false{% endif %}" 
    for="{{ field.label|lower }}"
    data-placeholder="{{ field.field.widget.attrs|get_item:'data-placeholder' }}">
      {% comment %} {{ field.field.widget.attrs|get_item:'title' }} {% endcomment %}
      <label class="label sr-only" for="{{ field.html_name }}">
        {{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}
      </label>
      {{ field }}
      {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
      {% if form.errors %}
        <div class="invalid-feedback">
          {% for error in form.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% endfor %}
    
    <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
  </form>
</div>