{% load navigation_tags %}
{% load i18n %}
{% load static %}
{% load sass_tags %}
{% load sekizai_tags %}

{% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/header.scss' %}">
{% endaddtoblock %}
{% static 'img/integra_tiny.png' as logo_image_url %}
<header class="header">
  {% block main_navigation %}
  <!-- <span class="header__nav-toggler" role="button"> -->
    <!-- </span> -->
    <nav class="navbar navbar-expand-md navbar-light bg-light" id="main-navigation" role="navigation" aria-label="Primary site navigation">
      <a class="navbar-brand" href="/" >
        <img src="{{logo_image_url}}" class="header__image" alt="company logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-menu">
        <div class="navbar-nav ml-auto">
          {% get_site_root as site_root %}
          {% top_menu parent=site_root calling_page=self %}
          {% if page.is_home_page %}
            {% include 'includes/language_form_snippet.html' %}
          {% endif %}
        </div>
      </div>
    </nav>
  {% endblock %}
  {% include "base/include/header-hero.html" %}
  {% include "includes/messages.html" %}
</header>
