{% load i18n %}
{% load static %}
{% load sass_tags %}
{% load sekizai_tags %}

{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

{% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/language-form.scss' %}">
    <!-- <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/icons/vbar.scss' %}"> -->
{% endaddtoblock %}

<div class="nav-link lang-select">
    {% for language in languages %}
        <a href="/{{ language.code }}/" class="language{% if language.code == LANGUAGE_CODE %} language--selected{% endif %}">
            {{ language.code|upper }}
        </a> {% if not forloop.last %}<span class="vbar">|</span>{% endif %}
    {% endfor %}
</div>

{% comment %} 
Deprecating the form for a simpler link setup.
<form action="{% url 'set_language' %}" method="post" class="language-form" id="language-form">
    {% csrf_token %}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <a value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}">
            {{ language.code|upper }}
        </a>
        {% endfor %}
     {% blocktrans %}
    <input type="submit" class="input-group-text" value="Go"/>
    {% endblocktrans %}
</form>
{% endcomment %}