{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}

{% comment %} {% addtoblock "css" %}
<link type="text/css" rel="stylesheet" href="{% sass_src 'scss/alerts.scss' %}">
{% endaddtoblock %} {% endcomment %}

{% if messages %}
  <section class="alerts" role="alertdialog">
    <ul class="messages__ul">
      {% for message in messages %}
        <li class="message{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">{{ message }}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
