{% load navigation_tags %}
{% load i18n %}

<ul class="col-12 justify-content-center mr-auto pagination pagination-lg">
  {% if posts.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
    </li>
  {% endif %}
  {% for page_num in posts.paginator.page_range %}
    <li class="page-item">
      <a class="page-link {% if page_num == posts.number %} active{% endif %}" href="?page={{ page_num }}">{{ page_num }}</a>
    </li>  
  {% endfor %}
  {% if posts.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ posts.next_page_number }}"><i class="fa fa-angle-right"></i></a>
    </li>
  {% endif %}
</ul>
