{% if person.social_links %}
{% with social_last=person.social_links|last %}
<div class="card-footer">
  <ul class="d-flex flex-row justify-content-start list-inline text-center mb-0">
    {% if person.social_instagram %}
    {% comment %}
      The instagram logo needs to be componded with fa-stack (see it's font-awesome composition).
      Due to this it has a fixed mr-0 (margin-right: 0). It's also the first element because it's
      spacing is a problem.
    {% endcomment %}
    <li class="mb-0 mr-0" data-toggle="tooltip" data-placement="top" title="{{ person.social_instagram }}">
      <a href="{{ person.social_instagram }}" target="_blank" rel="noopener" class="ml-0 mr-0">
          <span class="fa-stack">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
      </a>
    </li>
    {% endif %}
    {% if person.social_linkedin %}
    <li class="mb-0{% if person.social_linkedin != social_last %} mr-1{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ person.social_linkedin }}">
      <a href="{{ person.social_linkedin }}" target="_blank" rel="noopener">
          <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </li>
    {% endif %}
    {% if person.social_github %}
    <li class="mb-0{% if person.social_github != social_last %} mr-1{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ person.social_github }}">
      <a href="{{ person.social_github }}" target="_blank" rel="noopener">
        <i class="fab fa-github-square fa-2x"></i>
      </a>
    </li>
    {% endif %}
    {% if person.social_googleplus %}
    <li class="mb-0{% if person.social_googleplus != social_last %} mr-1{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ person.social_googleplus }}">
      <a href="{{ person.social_googleplus }}" target="_blank" rel="noopener">
          <i class="fab fa-google-plus-square fa-2x"></i>
      </a>
    </li>
    {% endif %}
    {% if person.social_facebook %}
    <li class="mb-0{% if person.social_facebook != social_last %} mr-1{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ person.social_facebook }}">
      <a href="{{ person.social_facebook }}" target="_blank" rel="noopener">
        <i class="fab fa-facebook fa-2x"></i>
      </a>
    </li>
    {% endif %}
    {% if person.social_twitter %}
    <li class="mb-0{% if person.social_twitter != social_last %} mr-1{% endif %}" data-toggle="tooltip" data-placement="top" title="{{ person.social_twitter }}">
      <a href="{{ person.social_twitter }}" target="_blank" rel="noopener">
          <i class="fab fa-twitter-square fa-2x"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endwith %}
{% endif %}