{% load wagtailimages_tags wagtailembeds_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

<div class="embed-responsive embed-responsive-16by9 justify-content-center embed-wrapper">
  {% embed self.embed.url %}
</div>
    <p class="figure-caption small text-right mb-2">
      {% if LANGUAGE_CODE == 'en' %}
      {{ self.caption }}
      {% else %}
      {{ self.caption_es }}
      {% endif %}{% if self.attribution %} &mdash; {{ self.attribution }}{% endif %}
    </p>