{% load wagtailimages_tags %}
{% load i18n %}
{% load sass_tags %}
{% load sekizai_tags %}
{% get_current_language as LANGUAGE_CODE %}

<div class="row justify-content-center">
  <figure class="figure align-items-center">
    {% image self.image fill-600x600 as img %}
    <img src="{{ img.url }}" class="figure-img img-fluid rounded" alt="{{ img.alt }}">
    <figcaption class="figure-caption text-right">
      {% if LANGUAGE_CODE == 'en' %}
        {{ self.caption }}
      {% else %}
        {{ self.caption_es }}
      {% endif %}{% if self.attribution %} &mdash; {{ self.attribution }}{% endif %}
    </figcaption>
  </figure>
</div>
