{% load i18n %}
{% load sekizai_tags %}
{% load sass_tags %}
{% comment %} {% addtoblock "css" %}
  <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/search-box.scss' %}">
{% endaddtoblock %} {% endcomment %}

<form action="{% url 'search' %}" class="form-inline my-2 my-lg-0 search-form" method="get">
    <div class="input-group field-wrapper" for="q">
        <input type="text" name="q" class="form-control search" placeholder="{% trans 'Search' %}" aria-label="{% trans 'Search' %}" aria-describedby="search-go">
        <div class="input-group-append">
            <input id="search-go" class="input-group-append btn btn-outline-secondary go" type="submit" value="{% trans 'Go' %}">
        </div>
    </div>
</form>
