{% extends "base.html" %}
{% load static %}
{% load base_extras %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load i18n %}


{% block content %}
<div class="container main-content">
  {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/blog-index-page.scss' %}">
  {% endaddtoblock %}

  {% if not tag %}
    <div class="row justify-content-center">
      {% include 'blog/tags.html' %}
    </div>
  {% endif %}
  <div class="row">
    {% if not tag and not year and not month %}
      <div class="col-12">
        {{ page.introduction|richtext }}
      </div>
    {% endif %}
    {% if tag %}
      {% addtoblock "css" %}
      <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/icons/tag.scss' %}">
      {% endaddtoblock %}
      {% blocktrans %}
      <div class="col-12">
        <h4>Viewing all blog posts by <span class="tag tag--inline">{{ tag }}</span></h4>
      </div>
      {% endblocktrans %}
    {% endif %}
    {% if year and month %}
      {% blocktrans with mo=month|humanize_month %}
      <div class="col-12">
        <h4>Viewing all blog posts for {{ mo }} {{ year }}.</h4>
      </div>
      {% endblocktrans %}
    {% elif year and not month %}
      {% blocktrans %}
      <div class="col-12">
        <h4>Viewing all blog posts for {{ year }}.</h4>
      </div>
      {% endblocktrans %}
    {% endif %}
    <div class="col-12 col-md-9 justify-content-center">
        {% include 'includes/pagination.html' %}
        <div class="col-12 page-body">
          
            <div class="row blog-list">
              {% if posts %}
                {% for blog in posts %}
                  <a class="col-12 mb-3 h-75 blog-post" href="{% pageurl blog %}">
                    <div class="row">
                      {% if blog.main_image %}
                        {% image blog.main_image fill-400x300-c50 as image %}
                      {% elif blog.image %}
                       {% image blog.image fill-400x300-c50 as image %}
                      {% else %}
                        {% static 'img/integra_tiny.png' as image %}
                      {% endif %}
                      <div class="col-4 col-md-5 align-items-center blog-post__image">
                        {% comment %} style="background-image: url('{% if image.url %}{{ image.url }}{% else %}{{ image }}{% endif %}');"> {% endcomment %}
                        <img src="{% if image.url %}{{ image.url }}{% else %}{{ image }}{% endif %}" alt="{{ image.alt }}" class="blog-image" />
                      </div>
                      <div class="col-8 col-md-7 blog-post__text">
                        <h4 class="blog-list-title">{{ blog.title }}</h4>
                        <p>{{ blog.introduction|truncatewords:30 }}</p>
                        <div class="align-self-end small blog-post__footer">
                          {% if blog.date_published %}
                            {{ blog.date_published }} by 
                          {% endif %}
                          {% for author in blog.authors %}
                            {{ author }}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </a>
                  {% if not forloop.last %}<hr>{% endif %}
                {% endfor %}
              {% else %}
                <p>{% trans "We're sorry, but there seems to be nothing here." %}</p>
              {% endif %}
            </div>
          {% include 'includes/pagination.html' %}
      </div>
    </div>
    
    <aside class="col-12 col-md-3 mt-2 aside">
      {% include 'includes/aside.html' %}
    </aside>
    
  </div>
</div>
{% endblock content %}