{% extends "base.html" %}
{% load static %}
{% load base_extras %}
{% load wagtail_modeltranslation %}
{% load wagtailcore_tags navigation_tags wagtailimages_tags %}
{% load sekizai_tags %}
{% load sass_tags %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}


{% block content %}
<div class="container main-content">
  {% addtoblock "css" %}
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/blog-page.scss' %}">
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/icons/tag.scss' %}">
  {% endaddtoblock %}

  {% if not tag %}
    <div class="row justify-content-center">
      {% include 'blog/tags.html' %}
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12 col-md-9 justify-content-center">
      {% comment %} {% if page.title %}
        <h1 class="title">{{ page.title }}</h1>
      {% endif %} {% endcomment %}
      {% if page.introduction %}
        <p class="mt-3 intro">{{ page.introduction }}</p>
      {% endif %}
      <div class="col-12 page-body">
        <div class="row blog-body">
          <div class="col-12 d-flex flex-column meta">
            {% if page.authors %}
              {% if page.authors|length_is:"1" %}
                {% with author=page.main_author %}
                  <div class="media">
                    {% image author.picture fill-50x50-c100 as author_picture %}
                    <img class="mr-3 meta__author__avatar" src="{{ author_picture.url }}" alt="{{ author_picture.alt }}">
                    <div class="media-body">
                      <h5 class="small mt-0 main-author-name">{{ author.full_name }}</h5>
                      <p class="small date-published">{{ page.date_published }}</p>
                    </div>
                  </div>
                {% endwith %}
              {% else %}
                <div class="media">
                  {% image page.main_author.picture fill-50x50-c100 as author_picture %}
                  <img class="mr-3 meta__author__avatar" src="{{ author_picture.url }}" alt="{{ author_picture.alt }}">
                  <div class="media-body">
                    <h5 class="small mt-0 main-author-name">{{ page.main_author.full_name }}</h5>
                    <p class="small">
                      with 
                      {% for author in page.authors|slice:"1:" %}
                      {{ author.full_name }}{% if not forloop.last %}, {% endif %}
                      {% endfor %}
                    </p>
                    <p class="small date-published">{{ page.date_published }}</p>
                  </div>
                </div>
              {% endif %}
            {% endif %}
          </div>
          <section class="col-12 justify-content-center blog-body">
            {{ page.body }}
            <div id="gallery-images" class="carousel slide" data-ride="carousel" data-interval="false">
              <ol class="carousel-indicators">
                {% for gallery_image in page.gallery_images.all %}
                <li data-target="#gallery-images" data-slide-to="{{ forloop.counter0 }}" {% if forloop.counter0 == 0 %}class="active"{% endif %}></li>
                {% endfor %}
              </ol>
              <div class="carousel-inner">
                {% for gallery_image in page.gallery_images.all %}
                <div class="carousel-item{% if forloop.counter0 == 0 %} active{% endif %}">
                  {% image gallery_image.image fill-320x240 as gallery_img %}
                  <img class="d-block w-100" src="{{ gallery_img.url }}" alt="{{ gallery_img.alt }}">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>{{ gallery_img.title }}</h5>
                    <p>{{ gallery_img.caption }}</p>
                  </div>
                </div>
                {% endfor %}
              </div>
              <a class="carousel-control-prev" href="#gallery-images" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Previous" %}</span>
              </a>
              <a class="carousel-control-next" href="#gallery-images" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans "Next" %}</span>
              </a>
            </div>
          </section>
          


          {% comment %} {% for item in page.gallery_images.all %}
          <div style="float: left; margin: 10px">
            {% image item.image fill-320x240 %}
            <p>{{ item.caption }}</p>
          </div>
          {% endfor %} {% endcomment %}
          <div class="tags">
            {% include 'blog/tags.html' %}
          </div>
        </div>
        {% include 'includes/pagination.html' %}
      </div>
    </div>
    
    <aside class="col-12 col-md-3 mt-2 aside">
      {% include 'includes/aside.html' %}
    </aside>
    
  </div>
</div>
{% endblock content %}
