{% extends "base.html" %}
{% load i18n %}
{% load wagtailcore_tags %}

{% block content %}
<div class="container mx-center main-content form-page-thanks">
    <div class="row">
      <div class="col-md-8 mx-center">
          {{ page.thank_you_text|richtext }}
      </div>
    </div>
    <div class="row">
        <a href="/" class="h4">{% trans "Back to Home Page" %}</a>
    </div>
</div>
{% endblock content %}
