{% load static %}
{% load i18n %}
{% load sass_tags %}
{% load sekizai_tags %}

{% load navigation_tags static wagtailuserbar %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% block title %}
            {% block title_prefix %}
                {% trans "Integral Psychology" %}
            {% endblock %}
            {% if self.seo_title %}
                {{ self.seo_title }}
            {% else %}
                {{ self.title }}
            {% endif %}
        {% endblock %}
    </title>
    <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    
    <!-- Theme CSS -->
    
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700|Rubik:400,500,700" rel="stylesheet"> 
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        
    {% render_block "head-extra" %}
    <link rel="stylesheet" href="{% sass_src 'vendor/bootstrap-4.1.3/scss/bootstrap.scss' %}">
    
    <link type="text/css" rel="stylesheet" href="{% sass_src 'scss/base.scss' %}">
    {% render_block "css" %}
</head>
    
<body class="body {% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}">
    {% wagtailuserbar %}

    {% block header %}
        {% include "includes/header.html" with parent=site_root calling_page=self %}
    {% endblock header %}

    {% block breadcrumbs %}
        {# breadcrumbs is defined in base/templatetags/navigation_tags.py #}
        {% comment %} {% breadcrumbs %} {% endcomment %}
    {% endblock breadcrumbs %}

    <main role="main" class="main">
        {% block content %}
        {% endblock content %}
    </main>

    <hr>

    <!-- Footer -->
    <footer class="footer">
        {% include "includes/footer.html" %}
    </footer>

    {% render_block "js" %}
    <script src="{% static 'vendor/jquery-3.3.1/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-4.1.3/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    </body>
</html>